.container-fluid {

    text-align: center;
}

body{
    font-family: 'Roboto';
    font-style: bold;
    color:black;
}

.main {
  
}

.navbar {
    background-color: white;
    padding-left: 300px;
    font-size: 20px;
    position:auto;
    top: 0;
    width: 100%; /* Full width */
   
}

.navbar-brand {
    color:black;
    font-size:26px;
    padding-right: 150px;
}
.nav-link {
    color:black;
}

.nav-item {
    padding-left: 40px;
}

#container1 {
    margin-top:80px;
    width:auto;
    height:600px;
}

.hero-text > h1 {
    font-weight: bold;
    
}

#container2 {
    margin-top:20px;
    height:50px;
    background-color:black;
    padding-top: 13px;
   
    
}
#container2 > h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
 
}

#container3 {
    padding-top: 30px;
    height: 800px;
}
#pic1 {
    width: 60%;

}

#pic2 {
    width: 60%;
    
}
.col > h2 {
    padding-top: 80px;
    font-size: 30px;
    font-weight: bold;
}


#container4 {
    height: 675px;
    padding-top: 50px;
}

/* The hero image */
.hero-image {
  

  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url("banner-lily.jpg");

  /* Set a specific height */
  height: 100%;
  width: 100%;
 
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}